
AirWiggles February Music Competition/addons/Wwise/wwise.gd
AirWiggles February Music Competition/addons/Wwise/runtime/wwise_runtime_manager.gd
AirWiggles February Music Competition/addons/Wwise/plugin.cfg
AirWiggles February Music Competition/addons/Wwise/native/wwise.gdextension
AirWiggles February Music Competition/addons/Wwise/native/lib/win64/release/libwwise.windows.template_release.lib
AirWiggles February Music Competition/addons/Wwise/native/lib/win64/release/libwwise.windows.template_release.exp
AirWiggles February Music Competition/addons/Wwise/native/lib/win64/release/libwwise.windows.template_release.dll
AirWiggles February Music Competition/addons/Wwise/native/lib/win64/debug/libwwise.windows.template_debug.pdb
AirWiggles February Music Competition/addons/Wwise/native/lib/win64/debug/libwwise.windows.template_debug.lib
AirWiggles February Music Competition/addons/Wwise/native/lib/win64/debug/libwwise.windows.template_debug.exp
AirWiggles February Music Competition/addons/Wwise/native/lib/win64/debug/libwwise.windows.template_debug.dll
AirWiggles February Music Competition/addons/Wwise/native/lib/macos/release/libwwise.macos.template_release.framework/libwwise.macos.template_release
AirWiggles February Music Competition/addons/Wwise/native/lib/macos/debug/libwwise.macos.template_debug.framework/libwwise.macos.template_debug
AirWiggles February Music Competition/addons/Wwise/native/lib/linux/release/libwwise.linux.template_release.so
AirWiggles February Music Competition/addons/Wwise/native/lib/linux/debug/libwwise.linux.template_debug.so
AirWiggles February Music Competition/addons/Wwise/native/lib/ios/arm64/release/libwwise.ios.template_release.framework/libwwise.ios.template_release
AirWiggles February Music Competition/addons/Wwise/native/lib/ios/arm64/release/libwwise.ios.template_release.framework/Info.plist
AirWiggles February Music Competition/addons/Wwise/native/lib/ios/arm64/debug/libwwise.ios.template_debug.framework/libwwise.ios.template_debug
AirWiggles February Music Competition/addons/Wwise/native/lib/ios/arm64/debug/libwwise.ios.template_debug.framework/Info.plist
AirWiggles February Music Competition/addons/Wwise/native/lib/android/release/WwiseAndroidPlugin-release.aar
AirWiggles February Music Competition/addons/Wwise/native/lib/android/release/armeabi-v7a/libWwiseAndroidPlugin.so
AirWiggles February Music Competition/addons/Wwise/native/lib/android/release/arm64-v8a/libWwiseAndroidPlugin.so
AirWiggles February Music Competition/addons/Wwise/native/lib/android/debug/WwiseAndroidPlugin-debug.aar
AirWiggles February Music Competition/addons/Wwise/native/lib/android/debug/armeabi-v7a/libWwiseAndroidPlugin.so
AirWiggles February Music Competition/addons/Wwise/native/lib/android/debug/arm64-v8a/libWwiseAndroidPlugin.so
AirWiggles February Music Competition/addons/Wwise/native/doc/Wwise.xml
AirWiggles February Music Competition/addons/Wwise/native/doc/Waapi.xml
AirWiggles February Music Competition/addons/Wwise/editor/waapi_picker/waapi_picker.tscn
AirWiggles February Music Competition/addons/Wwise/editor/images/wwise_audio_speaker.svg.import
AirWiggles February Music Competition/addons/Wwise/editor/images/wwise_audio_speaker.svg
AirWiggles February Music Competition/addons/Wwise/editor/images/Workunit_nor.svg.import
AirWiggles February Music Competition/addons/Wwise/editor/images/Workunit_nor.svg
AirWiggles February Music Competition/addons/Wwise/editor/images/SwitchGroup_nor.svg.import
AirWiggles February Music Competition/addons/Wwise/editor/images/SwitchGroup_nor.svg
AirWiggles February Music Competition/addons/Wwise/editor/images/Switch_nor.svg.import
AirWiggles February Music Competition/addons/Wwise/editor/images/Switch_nor.svg
AirWiggles February Music Competition/addons/Wwise/editor/images/StateGroup_nor.svg.import
AirWiggles February Music Competition/addons/Wwise/editor/images/StateGroup_nor.svg
AirWiggles February Music Competition/addons/Wwise/editor/images/State_nor.svg.import
AirWiggles February Music Competition/addons/Wwise/editor/images/State_nor.svg
AirWiggles February Music Competition/addons/Wwise/editor/images/SoundbankInit_nor.svg.import
AirWiggles February Music Competition/addons/Wwise/editor/images/SoundbankInit_nor.svg
AirWiggles February Music Competition/addons/Wwise/editor/images/Soundbank_nor.svg.import
AirWiggles February Music Competition/addons/Wwise/editor/images/Soundbank_nor.svg
AirWiggles February Music Competition/addons/Wwise/editor/images/Project_nor.svg.import
AirWiggles February Music Competition/addons/Wwise/editor/images/Project_nor.svg
AirWiggles February Music Competition/addons/Wwise/editor/images/GameParameter_nor.svg.import
AirWiggles February Music Competition/addons/Wwise/editor/images/GameParameter_nor.svg
AirWiggles February Music Competition/addons/Wwise/editor/images/Folder_nor.svg.import
AirWiggles February Music Competition/addons/Wwise/editor/images/Folder_nor.svg
AirWiggles February Music Competition/addons/Wwise/editor/images/Event_nor.svg.import
AirWiggles February Music Competition/addons/Wwise/editor/images/Event_nor.svg
AirWiggles February Music Competition/addons/Wwise/editor/images/BusSimple_nor.svg.import
AirWiggles February Music Competition/addons/Wwise/editor/images/BusSimple_nor.svg
AirWiggles February Music Competition/addons/Wwise/editor/images/AuxBus_nor.svg.import
AirWiggles February Music Competition/addons/Wwise/editor/images/AuxBus_nor.svg
AirWiggles February Music Competition/addons/Wwise/editor/images/AcousticTexture_nor.svg.import
AirWiggles February Music Competition/addons/Wwise/editor/images/AcousticTexture_nor.svg
AirWiggles February Music Competition/addons/Wwise/editor/ak_build_export.gd
